@import "tailwindcss";

:root {
  --foreground: #140d09;
  --tets: rgb(243, 215, 151);
}

@theme {
  --font-sans: var(--font-poppins);
  --font-display: var(--font-zain);
  --color-foreground: var(--foreground);
  --color-secondary: #464340;
  --color-yellow: #fdd213;
  --color-cyan: #93d8e6;
  --color-lightgreen: #b2dea1;
  --color-pink: #fca594;
  --color-pink-2: #ff9caf;
  --color-blue: #6aaee7;
  --color-green: #52b07b;
  --color-gold: #d6b598;
  --color-gold-2: #e8bf8d;
  --color-brown: #ac702d;
  --color-brown-2: #da7d33;
  --color-browndark: #9a5100;
  --color-browndark2: #35120e;
  --color-lightwhite: #fff6ed;
}

@layer utilities {
  .font-sans {
    font-family: var(--font-poppins);
  }

  .font-display {
    font-family: var(--font-zain);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  font-family: var(--font-sans);
}

.shadow-fake {
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  width: 90%;
  height: 18px;
  background: rgba(0, 0, 0, 0.5);
  filter: blur(18px);
  border-radius: 50%;
  z-index: 0;
}

.shadow-fake-2 {
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  width: 90%;
  height: 18px;
  background: rgba(0, 0, 0, 0.8);
  filter: blur(18px);
  border-radius: 50%;
  z-index: 0;
}

strong {
  font-weight: 600;
}
